<div class="container main-section">
  
    <div class="row">
      <div class="col-md-4 col-sm-8 col-xs-12 col-md-offset-4 col-sm-offset-2 login-image-main text-center">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 user-image-section">
            <img src="../../assets/businessman.png">
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 user-login-box">
            	<div class="form-group">
                  <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                </div>
                <div class="form-group">
                  <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                </div>
                <a (click)="signWithGoogle()" class="btn btn-block btn-default">
                    Sign in 
                </a>
            <a (click)="signWithGoogle()" class="btn btn-block btn-social btn-google-plus">
                <i class="fa fa-google-plus"></i> Sign in with Google
            </a>
            <a class="btn btn-block btn-social btn-facebook">
                <i class="fa fa-facebook"></i> Sign in with Facebook
            </a>

            <!-- <div class="col-md-12 col-sm-12 col-xs-12 last-part">
                <p>Not registered?<a href="#"> Create an account</a></p>
              </div> -->
          </div>
         
        </div>
      </div>
    </div>
  </div>
